
.header {
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      color: white;
      padding: 20px;
      background: linear-gradient(to right, #6a11cb, #2575fc);

    }
    