
    .addstack-container {
      min-width: 300px; 
      max-width: 400px; 
      margin: 20px ;
      padding: 20px; 
      background: black;
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      text-align: center;
      color: white;
    }
    
    .addstack-label {
      display: block;
      font-weight: bold;
      margin: 10px 0 5px;
      color: white;
    }
    
    .addstack-input,
    .addstack-select {
      width: 80%; 
      padding: 10px; 
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      box-sizing: border-box; 
      width:fit-content;
    }
    
    .addstack-input:focus,
    .addstack-select:focus {
      border-color: #2575fc;
      outline: none;
      box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
      width:fit-content;
    }
    
    .addstack-time-selection {
      display: flex;
      justify-content: center;
      gap: 15px; 
    }
    
    .addstack-time-selection .addstack-select {
      flex: 1;
    }
    
    .addstack-divider {
      margin-top: 20px;
      border: none;
      height: 1px;
      background: #0a0909;
    }
    