
.abc{
      border: 2px solid lightgray;
      width: 300px;
      margin: 60px auto;
      padding: 16px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.int{
      width: 100%;
      margin-bottom:10px ;
      box-sizing: border-box;
      font-size: 16px;
      border: 1px solid gray;
      padding: 12px;
}
.btn{
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin-top: 10px;
}
.sub{
      width: 100%; 
      background-color: black;
      color: white;
      font-size: 16px;
      padding: 12px; 
      border: none;
      cursor: pointer;
      transition:transform 0.2s ease box-shadow 0.2s ease
}
.sub:hover{
      transform: translateY(3px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sub:active{
      transform: translateY(5px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}