
.header {
      text-align: center;
      font-weight: bold;
      color: white;
      background: #121212;
      display: flex; 
      justify-content: space-between;
      padding: 10px 12px;
    }
    