.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  background-color: var(--primary-dark);
  position: relative;

}
.navlogo{
  color: white;
  display: flex;
  font-family: serif;
  align-items: center;
}
.logo{
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
