*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}




nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  position: static;
  z-index: 1000;
  top: 0;
  width: 100%;

}
.flex-div{
  display: flex;
  align-items: center;
}
.logo{
  height: 30px;
  margin: 0px  ;
  cursor: pointer;
  margin-top: 2px;
}
.logotext{
  font-weight: bold;
  font-size: 20px;
  color: #333; /* Dark Gray */
  margin-top: 2px;
  font-family: Roboto, Arial, Montserrat;
}
.nav-left{
  gap: 15px;
  margin-right: 25px;
  
}
.menu-icon{
  font-size: 24px;
  cursor: pointer;
}
.nav-middle{
  display: flex;
  justify-content: center;
}
.formcss{
  display: flex;
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
}
input{
  border: none;
  outline: none;
  padding: 8px 12px;
  width: 600px;
  
}
button {
  background-color: #f8f8f8;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
button:hover {
  background-color: #e6e6e6;
}
.nav-right {
  gap: 15px;
}

.nav-right svg {
  font-size: 22px;
  cursor: pointer;
}

.user-icon {
  font-size: 30px;
  cursor: pointer;
}
